---
http_interactions:
- request:
    method: post
    uri: https://api-free.deepl.com/v2/glossaries?param=fake
    body:
      encoding: US-ASCII
      string: name=Mi+Glosario&source_lang=EN&target_lang=ES&entries=Hello%09Hola%0AWorld%09Mundo%0A&entries_format=tsv
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossary_id":"579859d0-0036-489f-8ad5-70c27ffcd3a9","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-24T00:37:04.932382+00:00","entry_count":2}'
  recorded_at: Mon, 24 Jan 2022 00:37:05 GMT
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossaries/d9ad833f-c818-430c-a3c9-47071384fa3e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossary_id":"d9ad833f-c818-430c-a3c9-47071384fa3e","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-23T23:01:10.073429+00:00","entry_count":2}'
  recorded_at: Mon, 24 Jan 2022 01:51:30 GMT
- request:
    method: get
    uri: https://api-free.deepl.com/v2/glossaries/00000000-0000-0000-0000-000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Not found"}'
  recorded_at: Mon, 24 Jan 2022 01:51:30 GMT
recorded_with: VCR 6.0.0
