---
http_interactions:
- request:
    method: post
    uri: https://api.deepl.com/v1/translate?auth_key=VALID_TOKEN
    body:
      encoding: US-ASCII
      string: source_lang=EN&target_lang=ES
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"Parameter ''text'' not specified."}'
  recorded_at: Sun, 10 Dec 2017 21:20:25 GMT
- request:
    method: post
    uri: https://api.deepl.com/v1/translate?auth_key=VALID_TOKEN
    body:
      encoding: US-ASCII
      string: text=Abc&source_lang=EN&target_lang=ES
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"translations":[{"detected_source_language":"EN","text":"ABC"}]}'
  recorded_at: Sun, 10 Dec 2017 21:21:23 GMT
[...]
- request:
    method: post
    uri: https://api.deepl.com/v1/translate?auth_key=VALID_TOKEN&param=fake
    body:
      encoding: US-ASCII
      string: text=Sample&source_lang=EN&target_lang=ES
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"translations":[{"detected_source_language":"EN","text":"Muestra"}]}'
  recorded_at: Thu, 04 Jan 2018 18:08:31 GMT
recorded_with: VCR 4.0.0
