---
http_interactions:
- request:
    method: post
    uri: https://api-free.deepl.com/v2/glossaries
    body:
      encoding: US-ASCII
      string: name=Mi+Glosario&source_lang=EN&target_lang=ES&entries=Hello%09Hola%0AWorld%09Mundo%0A&entries_format=tsv
    headers:
      Authorization:
      - DeepL-Auth-Key VALID_TOKEN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"glossary_id":"4a6776f3-2c72-41ec-a231-4f0dbea8b6f4","name":"Mi Glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-01-24T00:38:28.817133+00:00","entry_count":2}'
  recorded_at: Mon, 24 Jan 2022 00:38:28 GMT
recorded_with: VCR 6.0.0
