---
http_interactions:
- request:
    method: post
    uri: https://api.deepl.com/v1/translate?auth_key=VALID_TOKEN
    body:
      encoding: US-ASCII
      string: text=Sample+text&source_lang=EN&target_lang=ES
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"translations":[{"detected_source_language":"EN","text":"Texto de
        muestra"}]}'
  recorded_at: Sun, 10 Dec 2017 20:34:26 GMT
[...]
- request:
    method: post
    uri: https://api.deepl.com/v1/translate?auth_key=invalid
    body:
      encoding: US-ASCII
      string: text=Sample+text&source_lang=EN&target_lang=ES
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 10 Dec 2017 20:34:27 GMT
[...]
- request:
    method: post
    uri: https://api.deepl.com/v1/translate?auth_key=VALID_TOKEN
    body:
      encoding: US-ASCII
      string: text=Sample+text&source_lang=EN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"message":"Parameter ''target_lang'' not specified."}'
  recorded_at: Sun, 10 Dec 2017 20:34:28 GMT
recorded_with: VCR 4.0.0
